ul {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-column-gap: 70px;
    grid-row-gap: 1em;
    li {
        list-style-type: none;
    
        #btn-delete {
            margin-left: 90px;
        }
        #btn-change {
            margin-left: 20px;
        }
        .card-body {
            overflow: hidden;
        }
        .card {
            min-height: 190px;
            max-height: 300px;
            margin-top: 20px;
        }
        a {
            position: relative;
            left: 50%;
        }
        &:first-child {
            display: none;
        }
    }
}