<div class="container">
  <form [formGroup]="form">
    <h3>Categories management</h3>
    <div class="search">
      <span>Category name:</span><input type="text" formControlName="title"/>
    </div>
    <div class="search">
      <span>Category description:</span><input type="text" id="desc" formControlName="description"/>
    </div>
    <button [disabled]="form.invalid" (click)="addCategory()">Add Category</button>
  </form>
  <p *ngIf="catExists" id="catExists">You should delete todos with this category first</p>
  <ul *ngIf="refreshedCategories?.length; else noCategories">
    <li *ngFor="let cat of refreshedCategories">
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <h5 class="card-title">{{ cat.title }}</h5>
          <p class="card-text">{{ cat.description }}</p>
        </div>
        <div class="btns">
          <a [routerLink]="[cat.id]" class="btn btn-primary" id="btn-change">Details</a>
          <a (click)="deleteCategory(cat)" *ngIf="!isUser" class="btn btn-danger" id="btn-delete">Delete</a>
        </div>
      </div>
    </li>
  </ul>
</div>

<ng-template #noCategories>
  <div class="noCategories">No catigories were added yet</div>
</ng-template>