ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

    li {
        list-style-type: none;
    
        #btn-delete {
            margin-left: 90px;
        }
        #btn-change {
            margin-left: 20px;
        }
        .card-body {
            overflow: hidden;
        }
        .card {
            min-height: 190px;
            max-height: 300px;
            margin-top: 20px;
        }
        a {
            position: relative;
            left: 50%;
        }
    }
}