<div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]="form">
        <h2>Todo id #{{todo?.id}}</h2>
      <div class="form-group">
        <label >New title</label>
        <input type="text" [ngModel]="todo?.title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label >New description</label>
        <input type="text" [ngModel]="todo?.description" class="form-control" formControlName="description">
      </div> 
      <div class="form-group">
        <label >Re-choose category</label>
        <select class="form-control" formControlName="category" [ngModel]="todo?.category">
          <option *ngFor="let cat of categoriesNames; let i = index" value="{{i}}">{{cat}}</option>
        </select>
      </div>
      <div class="radio-form">
        <div class="form-check">
          <input class="form-check-input" type="checkbox" formControlName="done" id="defaultCheck1" [checked]="todo?.done != null && todo?.done != false">
          <label class="form-check-label" for="defaultCheck1">
            Todo is done
          </label>  
        </div>
       </div>   
     <button [disabled]="form.invalid" class="btn btn-success m-2" (click)="saveChanges()">Save changes</button>
     <button class="btn btn-secondary m-2" [routerLink]="'../'">Go back</button>
     <h5 *ngIf="isChanged">Todo was changed!</h5>   
    </form>
</div>

