<div class="container">
  <form [formGroup]="form">
    <h3>Categories management</h3>
    <div class="search">
      <span>Category name:</span><input type="text" formControlName="title"/>
    </div>
    <div class="search">
      <span>Category description:</span><input type="text" id="desc" formControlName="description"/>
    </div>
    <button [disabled]="form.invalid" (click)="addCategory()">Add Category</button>
  </form>
  <p *ngIf="catExists" id="catExists">You should delete todos with this category first</p>
  <app-list-card [items$]="refreshedCategories" [cardRef]="cardRef"></app-list-card>  
</div>

<router-outlet></router-outlet>
<ng-template #cardRef let-item>
  <div class="template">
      <div class="card" style="width: 18rem;">  
        <div class="card-body">
          <h5 class="card-title">{{ item.title }}</h5>
          <p class="card-text">{{ item.description }}</p>  
        </div>
        <div class="btns">
          <a [routerLink]="[item.id]" class="btn btn-primary" id="btn-change">Details</a>
          <a (click)="deleteCategory(item)" *ngIf="!isUser" class="btn btn-danger" id="btn-delete">Delete</a>
        </div>
      </div>
  </div>
</ng-template>