<app-list-card [items$]="items$" [cardRef]="cardRef"></app-list-card>
<div class="col-xs-8 col-xs-offset-2">
    <form [formGroup]='form'>
        <h3>Todos Page</h3>
        <div class="form-group">
            <label>Title</label>
            <input type="text" class="form-control" formControlName="title">
        </div>
        <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" formControlName="description">
        </div>
        <div class="form-group">
            <label>Choose category</label>
            <select class="form-control" formControlName="category">
                <option *ngFor="let cat of categoriesNames; let i = index" value="{{i}}">{{cat}}</option>
            </select>
        </div>
        <div class="radio-form">
            <div class="form-check">
                <input class="form-check-input" type="checkbox" formControlName="done" id="defaultCheck1">
                <label class="form-check-label" for="defaultCheck1">
                    Todo is done
                </label>
            </div>
        </div>
        <button class="btn btn-success" [disabled]="form.invalid" (click)="addTodo()">Add todo</button>
        <hr>
    </form>
    <ul *ngIf="refreshedTodos?.length; else noTodos">
        <li *ngFor="let todo of refreshedTodos">
            <div class="card" style="width: 18rem;">
                <div class="card-body">
                    <p id="category">Category: {{ categoriesNames[todo.category ]}}</p>
                    <h5 class="card-title">{{ todo.title }}</h5>
                    <p class="card-text">{{ todo.description }}</p>
                    <p *ngIf="todo.done !== null && todo.done !== false; else notDone">(done)</p>
                </div>
                <div class="btns">
                    <a [routerLink]="[todo.id]" class="btn btn-primary" id="btn-change">Details</a>
                    <a (click)="deleteTodo(todo)" class="btn btn-danger" id="btn-delete">Delete</a>
                </div>
            </div>
        </li>
    </ul>
</div>

<ng-template #cardRef let-item class="ngTemplate">
    <hr style="height:4px;border-width:0;color:gray;background-color:gray">
    <div style="background-color:darkgrey; padding-top: 5px; font-family: Georgia, 'Times New Roman', Times, serif;">
        <ul *ngFor="let value of item" >
            <p>{{value[0] + ': ' + value[1]}}</p>
        </ul>
    </div>
    <hr style="height:4px;border-width:0;color:gray;background-color:gray">
</ng-template>

<ng-template #noTodos>
    <div class="noCategories">No todos were added yet</div>
</ng-template>
<ng-template #notDone>
    <p>(not done)</p>
</ng-template>