.form-group {
    margin-top: 15px;
    p {
        font-size: 24px;
    }
}
.radio-form {
    margin-top: 20px;
}
button {
    margin-top: 15px;   
}
ul {
    display: grid;
    grid-template-columns: 290px 290px 290px;
    grid-column-gap: 70px;
    grid-row-gap: 1em;
    li {
        list-style-type: none;
    
        #btn-delete {
            margin-left: 90px;
        }
        #btn-change {
            margin-left: 20px;
        }
        .card-body {
            overflow: hidden;
        }
        .card {
            min-height: 190px;
            max-height: 300px;
            margin-top: 20px;
        }
        .btns {
            margin-bottom: 10px;
        }
        #category {
            background-color: darkgrey;
        }
    }
}
.ngTemplate {
    p {
        font-size: 20px;
    }
}
