<div class="col-xs-8 col-xs-offset-2" *ngIf="!isUser; else user">
    <form [formGroup]='form' >
      <div class="form-group">
        <label >New title</label>
        <input type="text" [(ngModel)]="currentComp.title" class="form-control" formControlName="title">
      </div>
      <div class="form-group">
        <label >New description</label>
        <input type="text" [(ngModel)]="currentComp.description" class="form-control" formControlName="description">
      </div> 
     <button [disabled]="form.invalid" class="btn btn-success m-2" (click)="saveChanges()">Save changes</button>
     <button class="btn btn-secondary m-2" [routerLink]="'../'">Go back</button>
     <h5 *ngIf="isChanged">Category was changed!</h5>
    </form>
</div>

<ng-template #user id="user">
  <div class="form-group">
    <label>Title</label>
    <p>{{currentComp.title}}</p>
  </div>
  <div class="form-group">
    <label>Description</label>
    <p>{{currentComp.description}}</p>
  </div>
  <button class="btn btn-secondary m-2" [routerLink]="'../'">Go back</button>
</ng-template>